[submodule "jellybeans.vim"]
	path = jellybeans.vim
	url = https://github.com/nanotech/jellybeans.vim.git
  ignore = untracked
[submodule "tomorrow-theme"]
	path = tomorrow-theme
	url = https://github.com/chriskempson/tomorrow-theme.git
